{% extends 'base.html' %}
{% load static %}
{% block footer_content %}
<footer class="footer bg-yellow text-black py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Patliputra Palate. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-black">About</a></li>
                    <li class="list-inline-item"><a href="#" class="text-black">Contact</a></li>
                    <li class="list-inline-item"><a href="#" class="text-black">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
