{% extends 'base.html' %}
{% load static %}
{% block header_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Menu
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#menu1">Sushi</a></li>
						<li><a class="dropdown-item" href="#menu2">Momo</a></li>
						<li><a class="dropdown-item" href="#menu3">Korean Cuisine</a></li>
						<li><a class="dropdown-item" href="#menu4">Pizza</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Shop</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-warning" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
{% endblock %}