{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid bg-transparent text-center position-relative">
        <h1 class="display-4 fw-bold text-warning">Welcome to Patliputra Palate</h1>
        <div class="d-flex justify-content-end position-absolute top-50 end-0 translate-middle-y">
            <a class="btn btn-warning btn-lg" href="{% url 'web' %}">Dive In</a>
        </div>
        <img class="img-fluid mt-4" src="{% static 'resimage.jpg' %}" alt="home">
    </div>
</div>
{% endblock %}
