{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Confirmation</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <p><a href="restaurantweb">Home</a></p>
        <div class="dropdown">
            <span>Menu</span>
            <div class="dropdown-content">
                <a href="#section1">Reserve_A_Table</a>
                <a href="#">Reserve_A_Table</a>
                <a href="#">Reserve_A_Table</a>
            </div>
        </div>
        <p> Shop</p>
    </nav>
    <div id="section3">
        <h2>Reservation Confirmation</h2>
        <p>Reservation ID: </p>
        <p id="RID">RID</p>
        <p>We will notify you in a day advance</p>
        <p>Hope to see you soon!</p>
        <p><b>For more Information: </b><br>patliputra.palate@gmail.com<br>+91 XXXXXXXXXX</p>
        <button id="goBackHomeButton">Go Back Home</button>
    </div>
    <script src="{% static 'ReservationConfirmation.js' %}"></script>
    
</body>
</html>