{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Reservation Information</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-2"><strong>Name:</strong> <span id="name_">{{ info.name }}</span></p>
                    <p class="mb-2"><strong>Date/Time:</strong> <span id="date_time_">{{ info.datetime }}</span></p>
                    <p class="mb-2"><strong>Email:</strong> <span id="email_">{{ info.email }}</span></p>
                    <p class="mb-2"><strong>Phone No:</strong> <span id="phoneNo_">{{ info.phone_no }}</span></p>
                    <!-- <p class="mb-2"><strong>Table No:</strong> <span id="tableNo_"></span></p> -->
                    <p class="mb-2"><strong>No. of Diners:</strong> <span id="noOfDiners_">{{ info.no_of_diners }}</span></p>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning me-md-2" id="informBackButton"><a href="{% url 'web' %}" class="text-white">Edit</a></button>
                <button class="btn btn-warning" id="informButton" onclick="myFun()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    function myFun(){
        alert("Order Successful!");
    }
</script>
{% include 'footer.html' %}
{% endblock %}
